body{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
    text-align: center;

    overflow-y: hidden;
    overflow-x:  hidden;
    -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;
}

button{

    border-radius: 20px;
    border-style: solid;
    border-color: transparent;


    background-color: rgb(255, 166, 0);
    color : white;

    font-weight:bold;
    font-size: 20px;

    width: 150px;
    height: 40px;
    transition: all 0.3s ease; 

    cursor: pointer;
    
}

button:hover{
    color :rgb(255, 166, 0);
    background-color: rgba(255, 255, 255, 0);

    border-color: rgb(255, 166, 0);
    border-width: 2px;
}

img{
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
    -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;
}
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}